---
title: 'Grid & Flexbox Intro'
---
{% extends '_index.html' %}

{%block content %}

<dl>
    <dt>Flexbox:</dt>
    <dd>layout in a single dimension</dd>

    <dt>Grid:</dt>
    <dd>layout in multiple dimensions</dd>
</dl>

<a href="http://codepen.io/rachelandrew/full/YqqdXL/" title="CodePen - Flex and Grid demo">Demo</a>

<p data-height="600" data-theme-id="0" data-slug-hash="YqqdXL" data-default-tab="result" data-user="rachelandrew" data-embed-version="2" data-pen-title="Flex and Grid demo" class="codepen">See the Pen <a href="http://codepen.io/rachelandrew/pen/YqqdXL/">Flex and Grid demo</a> by rachelandrew (<a href="http://codepen.io/rachelandrew">@rachelandrew</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
{% endblock %}
