<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% if title %}{{ title }} | {% endif %}Grid &amp; Flexbox Demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="wrapper--FLEX">
  <header class="header panel flex-1">
    <h1>{{ title }}</h1>
    <time datetime="2017-04-12">12 April 2017</time>
  </header>

  <div class="flex-2">
    <aside class="sidebar panel">
      <ol>
        <li><a href="/">Introduction</a></li>
        <li><a href="/flexbox-grid">Flexbox & Grid</a></li>
        <li><a href="/flexbox">Flexbox</a></li>
        <li><a href="/grid">Grid</a></li>
      </ol>
    </aside>

    <main class="main panel">
      {% block content %}{% endblock %}
    </main>
  </div>

  <footer class="footer panel">
    <p>There are many things that a computer can do.</p>
  </footer>

  <script src="/js/main.js" defer></script>
</body>
</html>
